.red {
    background-color: red;
    opacity: .5;
}

.employeeTitle {
    text-align: center;
    color: slategray;
}

body {
    background-color: darkslategray;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttonPos {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inputlocale {
    text-align: center;
    margin: 20px 20px;
    background-color: grey;
    padding: 10px;
}
.inputs {
    margin-left: auto 20px;
    text-align: center;
}

/* addemployee titles */
.addemployees {
    text-align: center;
    border: dimgray;
    border-style: outset;
    
}

/* how total monthly displays */
#totalMonthly {
    font-size: 40px;
}

#totalMonthly {
    color: slategray;
}
